<h1>
    Codeial / <%= title %>
</h1>
<%if(locals.user){%>
<section id="feed-post">
    <h4>Posts</h4>
    <form id="new-post-form" action="/posts/create-post" method="post">
        <textarea name="content" placeholder="Type here..." cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>

    <div class="posts-list-container">
        <ul>
            <%for(let i of posts){%>
                <li>
                    <%=i.user.username%>
                    <br>
                    <%=i.content%>
                </li>
                <div class="posts-comments-list">
                    <ul class="post-comments-<%=i._id%>">
                    <% for (let j of i.comments) {%>
                        <li>
                            <%=j.user.username%> => 
                            <%=j.comment%>
                        </li>
                    <%}%>
                    </ul>
                </div>
                <h5>Add comment</h5>
                <form id="new-post-form" action="/comments/comment/?id=<%=i._id%>" method="post">
                    <textarea name="comment" placeholder="comment here..." cols="30" rows="1"></textarea>
                    <input type="submit" value="Post">
                </form>
            <%}%>
        </ul>
    </div>

</section>
<%}%>

