<html>
    <head>
        <title>
           
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">

        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>